.container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 25px;
}

.overlay {
	width: 100%;height: 100%;
	position: fixed;
	inset: 0;
	background: rgba(0,0,0,.1);
	visibility: hidden;
	z-index: 3;
	opacity: 0;
	transition: .5s opacity ease;
	&--dark {
		background: rgba(0,0,0,.3);
	}
}


.d-flex {
	display: flex;
	&--justify {
		justify-content: space-between;
	}
}
.gap1 {gap: 1em;}.gap2 {gap: 2em;}.gap3 {gap: 3em;}

.d-block {
	display: block !important;
}

.d-none {
	display: none;
}

.hidden {
	opacity: 0;
	visibility: hidden;
}
.reveal {
	opacity: 1 !important;
	visibility: visible !important;
}


.main {
	a.btn, .btn, button.btn {

		width: 100%;
	    display: inline-block;
	    border-radius: 30px;
	    background-color: #fcfcfc;
	    text-align: center;
	    font-weight: bold;
	    padding: 8px 0;
	    transition: all 0.3s;
	    padding-right: 40px;
	    box-shadow: $customBS;
	    position: relative;
	    font-weight: 700;
	    color: $primary;
	    line-height:28.8px;
		span {
			position: relative;
			z-index: 1;
		}
		.btn-icon {
			background-color: $primary;
			width: 92px;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			border-radius: 2em 2em 2em 0;
			transition: .3s all ease-in-out;
			&::after {
				content: "";
				width: 0;
				height: 0;
				border-top: 45px solid #fcfcfc;
				border-right: 40px solid transparent;
				position: absolute;
				top: 0;
				left: 0;
			}
			.fa {
				color: #fff;
				position: absolute;
				right: 25px;
				top: 15px;
			}
		}
		&::before {
			display: none;
		}
		&:hover, &:focus, &.active {
			color: #fff !important;
			.btn-icon {
				width: 100%;
				border-radius: 30px;
				&::after {
					display: none;
					opacity: .1;
				}
			}
		}
		@media screen and (max-width: $break-small) {
			
			span {
				color: $primary;	
			}
			.btn-icon {
				background-color: transparent;
				width: auto;
				position: static;
				border-radius: 0;
				transition: none;
				.fa {
					color: $primary;
				}
				&::after {
					content: none;
				}
			}
			&:hover, &:focus, &.active {
				background: $primary;
				span, .btn-icon .fa {
					color: #fff;
				}
			}
		}
	}
}