$primary: #ffc04d;
$customBS: 0 10px 10px -8px rgb(0 0 0 / 22%);


$font-ss: 'Montserrat', sans-serif;
$font-serif: 'Merriweather', serif;


$break-big: 960px;
$break-mid: 750px;
$break-small: 590px;
$break-xsmall: 450px;